<div class="home-parent">
  <div style="position: relative;left: 0%;height: 100%">
    <div class="imgDiv" *ngFor="let img of imgSliderArray" [ngStyle]="{'height':selectedImgIndex == img.index ? '100%' : ''}">
    <img class="navigateButtons" src="../../../assets/icons/leftNavigate1.png" alt=""
         (click)="onLeftNavigate()"
         style="position: absolute;width: 5%;height: 15%;top: 40%;left: 0%;cursor: pointer;opacity: 0.7">
    <img *ngIf="selectedImgIndex == img.index" class="slider-img animate-slider-img" src={{img.image}} alt="">
    <img class="navigateButtons" src="../../../assets/icons/rightNavigate1.png" alt=""
         (click)="onRightNavigate()"
         style="position: absolute;width: 5%;height: 15%;top: 40%;right: 0%;cursor: pointer;opacity: 0.7">
    </div>
  </div>
</div>
