<div class="w100 flex-col-parent" style="height: 200px;">
  <div class="w100 flex-row-parent" style="height: 70%;margin-top: 2%;justify-content: space-around">

    <div class="flex-col-parent" style="justify-content: space-between">
      <div class="font-20"><b>About</b></div>
      <div class="opacity-80">About Us</div>
      <div class="opacity-80">Where To Buy</div>
      <div class="opacity-80">FAQs(Our Sales)</div>
    </div>

    <div class="flex-col-parent" style="justify-content: space-between">
      <div class="font-20"><b>Support</b></div>
      <div class="opacity-80">Contact</div>
      <div class="opacity-80">Warranty</div>
      <div class="opacity-80">Help</div>
    </div>

    <div class="flex-col-parent" style="justify-content: space-between">
      <div class="font-20"><b>Legal</b></div>
      <div class="opacity-80">Privacy</div>
      <div class="opacity-80">Terms</div>
      <div class="opacity-80">Our Products</div>
    </div>

  </div>

  <div class="w100 flex-row-parent" style="height: 20%;margin-top: 2%;justify-content: center;">
      <span id="">Copyright © 2018 SAMPLE, Inc. All rights reserved.</span>
  </div>

</div>
