<div class="main-bg" style="height: 100vh;">
  <div class="home-menu-bar flex-row-parent content-space-around">
    <div class="p-t-18" style="margin-right: 30%">SAMPLE NAME/LOGO</div>
    <div class="p-t-18 menu-items" (click)="routeToEntity('')">HOME</div>
    <div class="p-t-18 menu-items">PRODUCTS</div>
    <div class="p-t-18 menu-items" (click)="routeToEntity('about')">ABOUT US</div>
    <div class="p-t-18 menu-items">CONTACT</div>
  </div>

  <div class="" style="height: 62%;">
    <router-outlet></router-outlet>
  </div>

  <div class="footer" style="height: 30%;">
    <app-footer></app-footer>
  </div>
</div>
