<!--<div [ngClass]="{'main-bg' : !signedInStatus}" style="height: 100%;">-->
<div style="height: 100%;background-color: #F2F3F7">
  <div class="home-menu-bar flex-row-parent content-space-around">
    <div class="p-t-18 font-20" style="margin-right: 30%"><b>MY-WEB</b></div>
    <div class="p-t-18 menu-items font-16" (click)="routeToEntity('')"
         [ngStyle]="{'color':activeMenuTab == ''?'black':''}">Home
    </div>
    <!--<div class="p-t-18 menu-items font-16">PRODUCTS</div>-->
    <div class="p-t-18 menu-items font-16" (click)="routeToEntity('about')"
         [ngStyle]="{'color':activeMenuTab == 'about'?'black':''}">About Us
    </div>
    <div class="p-t-18 menu-items font-16" (click)="routeToEntity('contact')"
         [ngStyle]="{'color':activeMenuTab == 'contact'?'black':''}">Contact
    </div>

    <!--todo For Future Use-->
    <!--<div class="p-t-18 menu-items font-16" (click)="routeToEntity('userDashboard')" *ngIf="signedInStatus"-->
    <!--[ngStyle]="{'color':activeMenuTab == 'userDashboard'?'black':''}">Dashboard-->
    <!--</div>-->
    <!--<div class="p-t-18 menu-items font-16" (click)="routeToEntity('signin')" *ngIf="!signedInStatus"-->
    <!--[ngStyle]="{'color':activeMenuTab == 'signin'?'black':''}">Sign In-->
    <!--</div>-->
    <!--<div class="p-t-18 menu-items font-16" (click)="onSignOut()" *ngIf="signedInStatus"-->
    <!--[ngStyle]="{'color':'black'}">Sign Out-->
    <!--</div>-->


  </div>

  <div class="">
    <router-outlet></router-outlet>
  </div>

  <div class="footer" style="height: 30%;">
    <app-footer></app-footer>
  </div>
</div>
