<div class="about-parent">
  <div style="position: relative;top: 15%;left: 0%;margin: 0% 5% 0% 5%;color: black;">
    Eventbrite is a great example of a page with an inspiring mission statement
    coupled with three simple call to action buttons at the bottom. Their statement
    “Bringing the world together through live experiences”, is inspiring enough that
    they can then invite the user to ‘host’ an event, ‘discover’ an event to attend or ‘join’ their team.


    1. Write one liner content on some bg image
    2. Write brief content about us                       3. Insert a video
  </div>
</div>
